/* ELEMENTI */

body {
  line-height: 2rem;
  position: relative;
    color: #eeeeee;
}

h1 {
  text-align: center;
  font-family: pacifico;
  padding-top: 4rem;
}

h2 {
    font-family: Montserrat;
}

p {
  margin-bottom: 0;
  font-family: Montserrat;
}

li {
  font-family: Montserrat;
}

strong {
  color: #00adb5;
}
/* CLASSI */

/* Barra di Navigazione */
.navbar {
  background-color: #00adb5;
}

/* Banner in alto */
.top-container {
  background-color: #393e46;
  padding-top: 7vh;
}

.code-top-image {
  width: 60%;
}

.top-image {
  width: 50%;
}

.starman-top-image {
  width: 150px;
  position: relative;
  top: 15%;
  left: 30%;
}

/* Profilo */

.profile-info {
  background-color: #00adb5;
  padding: 0 25% 2rem;
  text-align: center;
}

/* Esperienze */
#experiences {
  background-color: #393e46;
}

.certificates-info {
  text-align: justify;
}

.certificate-img {
  width: 50%;
}

/* Lavoro */
.workplaces-info {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.job-img {
  width: 50%;
  padding-top: 1rem;
}

 /* Passioni */
#about-me {
  background-color: #00adb5;
}

.code {
  width: 100%;
}

.research {
  width: 100%;
}

.challenge {
  width: 80%;
}
/* Skills */
.skills {
  background-color: #393e46;
}

/* contatti */
.contact-info {
  background-color: #00adb5;
}

.row {
  margin: 0;
}

.btn-container {
  display: flex;
  justify-content: center;
}

.copyright {
  background-color: #393e46;
}
