/* ELEMENTI */

body {
  line-height: 2rem;
  position: relative;
    color: #eeeeee;
}

h1 {
  text-align: center;
  font-family: pacifico;
  padding-top: 4rem;
}

h2 {
    font-family: Montserrat;
}

p {
  margin-bottom: 0;
  font-family: Montserrat;
}

li {
  font-family: Montserrat;
}

strong {
  color: #00adb5;
}

ul {
  padding: 0;
}
/* CLASSI */

.mobileonly {
  display: none;
}

@media (max-width: 991px) {
  .mobileonly {
    display: static;
  }
}

/* Barra di Navigazione */
.navbar {
  background-color: #00adb5;
  height: 5vh;
}

.navbar-collapse {
	background-color: #00adb5;

}

.form-inline {
  margin-left: 2rem;
}

/* Banner in alto */
.top-container {
  background-color: #393e46;
  padding-top: 7vh;
}

.code-top-image {
  width: 40rem;
  padding-top: 5rem;
}

.airplane {
  width: 15rem;
  position: relative;
  top: 7rem;
  right: 3rem;
}

.top-image {
  width: 50%;
}

.starman-top-image {
  width: 150px;
  position: relative;
  top: 15%;
  left: 30%;
}

.michiamo {
  padding: 5rem 0 0 0;
  margin: 0;
}

.esonoun {
  text-align: right;
  padding: 0 1rem 0 3rem;
}

.typewr {
  text-align: left; padding: 0;
}

@media (max-width:991px) {
  .airplane {
    display: none;
  }

  .michiamo {
    padding-top: 2rem;
  }

  .esonoun {
    text-align: center; padding: 0 1rem 0 0;
  }

  .typewr {
    text-align: center; padding: 0;
  }
}

/* Profilo */
.profile-img {
  padding: 1rem;
  width: 20%;
  border-radius: 50%;
}

.profile-info {
  background-color: #00adb5;
  padding: 0 25% 2rem;
  text-align: center;
}

@media (max-width: 991px) {
  .profile-info {
      padding: 0 1rem;
      text-align: center;
  }
}
/* Esperienze */
#experiences {
  background-color: #393e46;
}

.certificates-info {
  text-align: justify;
}

.certificate-img {
  width: 50%;
}

/* Lavoro */
.workplaces-info {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.job-img {
  width: 50%;
  padding-top: 1rem;
}

.projects-img {
  width: 60%;
}

@media (max-width: 991px) {
  .certificate-img {
    width: 100%;
  }

  .job-img {
    width: 100%;
  }

  .projects-img {
    width: 100%;
  }
}


 /* Passioni */
#about-me {
  background-color: #00adb5;
}

.code {
  width: 100%;
}

.research {
  width: 100%;
}

.challenge {
  width: 80%;
}

/* Skills */
.skills {
  background-color: #393e46;
}

/* contatti */
.contact-info {
  background-color: #00adb5;
}

.row {
  margin: 0;
}

.btn-container {
  display: flex;
  justify-content: center;
}

.copyright {
  background-color: #393e46;
}

@media (max-width: 991px) {
  p {
    font-size: 2rem;
	line-height: 3rem;
  }
  li {
	font-size: 2rem;
	line-height: 3rem;
  }
  h1 {
	font-size: 5rem;
  }
  h2 {
	font-size: 4rem;
  }
  h3 {
	font-size: 2rem;
  }
  .navbar {
	height: 8vh;
	padding-left: 0;
	padding-right: 0;
  }
  .navbar-brand {
	padding-left: 1rem;
  }
  .form-inline {
	margin-left: 0;
  }
  .rating {
	line-height: 3rem;
  }
  .profile-img {
	width: 40%;
  }
}